.chair-container {
  display: grid;
  gap: 10px;
} 


@media only screen and (max-width: 667px) {
  .chair-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .btn {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
  }
  .chair {
    background: green;
    width: 50px;
    height: 50px;
    margin: 3px;
  }
  .chair-user {
    font-size: xx-small;
  }
  .booking{
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 667px) {
  .chair-container {
    grid-template-columns: repeat(10, 1fr);
  }
  .chair {
    background: green;
    width: 100px;
    height: 100px;
    margin: 6px;
  }
  .chair-user {
    font-size: medium;
  }
}

.chair {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chair.booked {
  background-color: red;
}

.chair.selected {
  background-color: #3c3cfc;
}

.chair:hover {
  background-color: lightblue;
}

