@media only screen and (max-width: 667px) {
 footer{
  padding: 3px 3px;
 }
 header{
  padding: 10px 0;
 }
 header nav a {
  margin: 0 8px;
 }
 .logout {
  font-size: 12px;
 }
}

@media only screen and (min-width: 667px) {
  footer{
    padding: 5px 5px;
   }
   header{
    padding: 20px 0;
   }
   header nav a {
    margin: 0 15px;
   }
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}



/* Header */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .cta-btn {
  background-color: #ff6600;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.logout {
  cursor: pointer;
}
