
@media only screen and (max-width: 667px) {
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 0.6rem;
  }
  .hero {
  padding: 50px 10px; 
  }
  .course-card {
    display: flex;
    width: 100%;
  }
  .testimonial {
    display: flex;
    width: 100%;
  }
}

@media only screen and (min-width: 667px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
  .hero {
  padding: 100px 20px;
  }
  .course-card {
    display: inline-block;
    width: 30%;
  }
  .testimonial {
    display: inline-block;
    width: 45%;
  }
}

/* Hero Section */
.hero {
  color: #fff;
  text-align: center;
}





.cta-btn-hero {
  background-color: #ff6600;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* About Section */
.about {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Course Section */
.courses {
  padding: 50px 20px;
  text-align: center;
  background-color: #f7f7f7;
}

.course-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
}

.course-card h3 {
  font-size: 1.8rem;
  color: #333;
}

.course-card p {
  font-size: 1rem;
  color: #666;
}

.cta-btn-courses {
  background-color: #ff6600;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Testimonials Section */
.testimonials {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.testimonial {
  margin: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 100px;
}